.buttons__remove {
    background-color: red;
    color: white;
    width: 30px;
    height: 30px;
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 3px;
    grid-column-start: 3;
    transition: background 1s 0.5s linear;

}

.buttons__done {
    background-color: green;
    color: white;
    width: 30px;
    height: 30px;
    display: grid;
    justify-items: center;
    grid-column-start: 1;
    transition: background 0.5s 0.5s linear;

}

.buttons__done:hover {
    background-color: rgb(68, 125, 68);

}


.buttons__remove:hover {
    background-color: rgb(237, 125, 125);
}

.buttons {
    padding:0px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.buttons__button {
    border: none;
    padding: 5px 5px;
   min-height: 30px;  
   margin: 5px 10px 5px 10px; 
    transition: color 0.5s 0.5s linear;
    background-color: transparent;
    color: teal;
    font-size:18px;
    
}

@media (max-width: 767px){
/* .buttons__button{
       
} */
}

.buttons__button:hover {
    color: rgb(116, 186, 186);

}