.buttons__remove {
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 3px;
}

.buttons__done {
    background-color: green;
    color: white;
    width: 20px;
    height: 20px;
    display: grid;
}