.buttons__remove {
    background-color:red;
    color:white;
    width: 20px;
    height:20px;
    display:grid;
    justify-content: center;
    justify-items: center;
    padding:3px;
    /* grid-column-start:7; */
    
}

.buttons__done {
    background-color: green;
    color:white;
    width: 20px;
    height:20px;
    display:grid;
    /* grid-column-start:done-start; */


}