html {
    box-sizing: border-box;
}

*::after,
::before {
    box-sizing: inherit;
}

.form {
    background-color: #efebeb;
    max-width: 60%;
    min-width: 50%;
}

.form__header {
    background-color: #efebeb;
    border: none;
    display: flex;
    margin: 1px;
}

/* Lista zadań */
.form__h1 {}


.form__fieldsetInput {
    background-color: hsl(0, 0%, 100%);
    border: none;
    margin: 1px;
    display: flex;
    justify-content: space-between;
    /* display:grid;
    grid-template-columns: 1fr 0.5fr; */
}

.form__input {
    flex-grow: 3;
}



.form__fieldsetTitle {
    background-color: hsl(0, 0%, 100%);
    border: none;
    display: flex;
    margin: 5px 1px 1px 1px;
    padding-left: 15px;

}

/* obszar w ktorym sie tworzy lista wraz z batonami */
.form__fieldsetList {
    background-color: hsl(0, 0%, 100%);
    border: none;
    display: grid;
    margin: 1px;
}

/* lista, która się tworzy wraz z buttonami */
.form__ul {
    list-style-type: none;
    display: grid;
    /* czemu nie działa grid-template-columns: 20px auto-fill 20px; */
    grid-template-areas:
        "done text basket";
    grid-template-columns: 30px 1fr 30px;
    padding: 3px;
}


.form__fieldsetLabel {
    background-color: hsl(0, 0%, 100%);
    border: none;
    font-weight: bold;
    font-size: 20px;
    padding-left: 15px;
    padding-bottom: 0;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    margin: 1px;

}

.form__taskList {
    font-weight: bold;
    font-size: 20px;
}


.form__addTaskButton {
    background-color: #036060;
    color: white;
    padding: 7px;
    border: none;
    margin: 7px;
}

.form__input {
    padding: 7px;
    margin: 7px;
}

.form__h1 {
    color: black;
    font-weight: bold;
}

.form__label {
    font-weight: bold;
    font-size: 20px;
}

@media (max-width: 767px) {
    .form__fieldsetInput {
        flex-direction: column;
        flex-wrap: wrap;

    }

    ;
    /* .form__input {
        max-width:50%;
        flex-grow:1;
    }; */
    /* .form__addTaskButton{
        width:100%;
    } */

}

@media (max-width: 767px){
.form {min-width:90%;}};