html {
    box-sizing: border-box;
}

*::after,::before  {
    box-sizing: inherit;
}

.list__item {
    color:black;
    font-weight: 400;
    display:flex;
}

.list__item--done {
    color:black;
    font-weight:400;
    text-decoration: line-through;
    display:flex;
}

