html {
    box-sizing: border-box;
}

*,::after,
::before {
    box-sizing: inherit;
}

.body{
    background-color: #efebeb;
    word-break: break-word;
    font-family: 'Montserrat',sans-serif;
    }